@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  margin: 0;
  background-color: black;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

p {
  width: 100%;
  text-align: center;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap:  wrap;
}
